<section id="create-container">
    <div class="create-container-info">
        <h1>Create Announcement</h1>
        <h4>Post your coins to sell</h4>
        <form method="POST">
            <label>Name:</label>
            <input type="text" id="name" name="name" placeholder="Bitcoin">
            <label>Image:</label>
            <input type="text" id="image" name="imageUrl" placeholder="http://...">
            <label>Price:</label>
            <input type="number" id="price" name="price" placeholder="3116">
            <label>Description:</label>
            <textarea id="description" name="description" placeholder="Introduce your coins..."></textarea>
            <label>Payment method:</label>
            <select id="payment" name="paymendMethod">
                <option value="Crypto Wallet">Crypto Wallet</option>
                <option value="Credit Card">Credit Card</option>
                <option value="Debit Card">Debit Card</option>
                <option value="PayPal">PayPal</option>
            </select>
            <input type="submit" id="btn" value="TRADE"></input>
        </form>
    </div>
</section>